/* Стилі специфічні для головної сторінки */
.hero {
    background-color: #E1B07E;
    color: var(--light-text);
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    border: solid hsl(30, 29%, 50%);
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400px;
}

.about {
    padding: 80px 0;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-dark);
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
    
    .hero-title {
        font-size: 2.5rem;
    }
    
    .hero-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 2rem;
    }
}




.logo{
    background-size: 200%;
}



.footer{
    background-color: #86A397;
}



html{
    border: solid 10px #678075;
}


.header-inner{
    border-top: 10px #678075;

}
